﻿@model CatalogPagingFilteringModel
@{
    var allFilterItemsGroups = Model.SpecificationFilter.AllFilterItems.GroupBy(x => x.SpecificationAttributeName);
    //var alreadyFilteredItemsGroups = Model.AlreadyFilteredItems.GroupBy(x => x.SpecificationAttributeName);
}
@if (Model.SpecificationFilter.Enabled)
{
    var allSelectedFiltersCount = 0;

    <div class="product-filter product-spec-filter">
        <div class="filter-title">
            <strong>@T("Filtering.SpecificationFilter")</strong>
        </div>
        <div class="filter-content">

            <div class="available-items">
                @if (Model.SpecificationFilter.AllFilterItems.Count > 0)
                {
                    @foreach (var group in allFilterItemsGroups)
                    {
                        var groupList = group.ToList();
                        var selectedFilterCount = 0;

                        <ul class="group product-spec-group @(groupList.Any(x => !string.IsNullOrEmpty(x.SpecificationAttributeOptionColorRgb)) ? "product-spec-color" : null )">
                            <li class="title">
                                <strong>@groupList[0].SpecificationAttributeName</strong>
                            </li>
                            @foreach (var spec in groupList)
                            {
                                var selected = "";
                                var activeClass = "";
                                if (spec.Selected)
                                {
                                    selected = "selected-spec-option";
                                    activeClass = "active";
                                    selectedFilterCount++;
                                    allSelectedFiltersCount++;
                                }

                                <li class="item @(!string.IsNullOrEmpty(spec.SpecificationAttributeOptionColorRgb) ? "color-item" : null) @activeClass">
                                    <a href="javascript:void(0)" class="filter-by-spec @selected" data-spec-option-id="@spec.SpecificationAttributeOptionId">
                                        @if (string.IsNullOrEmpty(spec.SpecificationAttributeOptionColorRgb))
                                        {
                                            @spec.SpecificationAttributeOptionName
                                        }
                                        else
                                        {
                                            <div class="attribute-squares color-squares">
                                                <span class="attribute-square-container" title="@spec.SpecificationAttributeOptionName">
                                                    <span class="attribute-square" style="background-color: @(spec.SpecificationAttributeOptionColorRgb);">&nbsp;</span>
                                                </span>
                                            </div>
                                        }
                                    </a>
                                </li>
                            }
                        </ul>
                        @*<script>
                                if (@selectedFilterCount > 0) {
                                    $(".selected-pav-count-@groupList[0].ProductAttributeId").html("(@selectedFilterCount)");
                                    $(".clear-pavs-@groupList[0].ProductAttributeId").show();
                                }
                            </script>*@
                    }
                }

                @if (Model.ThirdCategories.Count > 0)
                {
                    var selectedCategoryCount = 0;

                    <ul class="group product-spec-group">
                        <li class="title">
                            <strong>Categories</strong>
                        </li>
                        @foreach (var cat in Model.ThirdCategories)
                        {
                            if (cat.ProductCount > 0)
                            {
                                var selected = "";
                                var activeClass = "";
                                if (cat.Selected)
                                {
                                    selected = "selected-category";
                                    activeClass = "active";
                                    selectedCategoryCount++;
                                    allSelectedFiltersCount++;
                                }
                                <li class="item @activeClass">
                                    <a href="javascript:void(0)" class="filter-by-category @selected" data-category-id="@cat.Id">
                                        <span>@cat.Name</span>
                                    </a>
                                </li>
                            }
                        }
                    </ul>
                }

                @if (Model.ProductManufacturers.Count > 0)
                {
                    var selectedManufacturerCount = 0;

                    <ul class="group product-spec-group">
                        <li class="title">
                            <strong>Manufacturers</strong>
                        </li>
                        @foreach (var man in Model.ProductManufacturers)
                        {
                            var selected = "";
                            var activeClass = "";
                            if (man.Selected)
                            {
                                selected = "selected-manufacturer";
                                activeClass = "active";
                                selectedManufacturerCount++;
                                allSelectedFiltersCount++;
                            }
                            <li class="item @activeClass">
                                <a href="javascript:void(0)" class="filter-by-manufacturer @selected" data-manufacturer-id="@man.Id">
                                    <span>@man.Name</span>
                                </a>
                            </li>
                        }
                    </ul>
                }
            </div>
            @*@if (Model.AlreadyFilteredItems.Count > 0)
                {
                    <div class="filtered-items">
                        <ul>
                            <li class="title">
                                @T("Filtering.SpecificationFilter.CurrentlyFilteredBy")
                            </li>
                            @foreach (var group in alreadyFilteredItemsGroups)
                            {
                                <li class="item">
                                    <strong>@group.First().SpecificationAttributeName</strong>:
                                    @group.ToList().Aggregate(string.Empty, (current, next) =>
                                        $"{(string.IsNullOrEmpty(current) ? string.Empty : $"{current} {T("Filtering.SpecificationFilter.Separator")}")}{next.SpecificationAttributeOptionName}")
                                </li>
                            }
                        </ul>
                    </div>
                    <div class="remove-filter">
                        <a href="@Model.RemoveFilterUrl">@T("Filtering.SpecificationFilter.Remove")</a>
                    </div>
                }*@
        </div>
    </div>
}