﻿@model CategoryModel
@using Nop.Core.Domain.Common
@using Nop.Core.Domain.Seo
@inject SeoSettings seoSettings
@inject CommonSettings commonSettings
@{
    Layout = "_ColumnsTwo";

    //title
    Html.AddTitleParts(!string.IsNullOrEmpty(Model.MetaTitle) ? Model.MetaTitle : Model.Name);
    //meta
    Html.AddMetaDescriptionParts(Model.MetaDescription);
    Html.AddMetaKeywordParts(Model.MetaKeywords);
    //page class
    Html.AppendPageCssClassParts("html-category-page");

    if (seoSettings.CanonicalUrlsEnabled)
    {
        var categoryUrl = Url.RouteUrl("Category", new { SeName = Model.SeName }, this.Url.ActionContext.HttpContext.Request.Scheme);
        Html.AddCanonicalUrlParts(categoryUrl, seoSettings.QueryStringInCanonicalUrlsEnabled);
    }

    var breadcrumbDelimiter = commonSettings.BreadcrumbDelimiter;
}
@*category breadcrumb*@
@section Breadcrumb
    {
    @if (Model.DisplayCategoryBreadcrumb)
    {
        <div class="breadcrumb">
            <ul>
                <li>
                    <a href="@Url.RouteUrl("HomePage")" title="@T("Categories.Breadcrumb.Top")">@T("Categories.Breadcrumb.Top")</a>
                    <span class="delimiter">@breadcrumbDelimiter</span>
                </li>
                @foreach (var cat in Model.CategoryBreadcrumb)
                {
                    var isLastCategory = cat.Id == Model.Id;
                    <li>
                        @if (isLastCategory)
                        {
                            <strong class="current-item">@cat.Name</strong>
                        }
                        else
                        {
                            <a href="@Url.RouteUrl("Category", new { SeName = cat.SeName })" title="@cat.Name">@cat.Name</a>
                            <span class="delimiter">@breadcrumbDelimiter</span>
                        }
                    </li>
                }
            </ul>
        </div>
        @await Component.InvokeAsync("Widget", new { widgetZone = "categorydetails_after_breadcrumb", additionalData = Model.Id })
    }
}
<div class="page category-page">
    <div class="page-title">
        <h1>@Model.Name</h1>
    </div>
    <div class="page-body">
        @await Component.InvokeAsync("Widget", new { widgetZone = "categorydetails_top", additionalData = Model.Id })
        @*description*@
        @if (!string.IsNullOrWhiteSpace(Model.Description))
        {
            <div class="category-description">
                @Html.Raw(Model.Description)
            </div>
        }
        @await Component.InvokeAsync("Widget", new { widgetZone = "categorydetails_before_subcategories", additionalData = Model.Id })
        @*subcategories*@
        @if (Model.SubCategories.Count > 0)
        {
            <div class="category-grid sub-category-grid">
                <div class="item-grid">
                    @foreach (var item in Model.SubCategories)
                    {
                        <div class="item-box">
                            <div class="sub-category-item">
                                <h2 class="title">
                                    <a href="@Url.RouteUrl("Category", new { SeName = item.SeName })" title="@item.PictureModel.Title">
                                        @item.Name
                                    </a>
                                </h2>
                                <div class="picture">
                                    <a href="@Url.RouteUrl("Category", new { SeName = item.SeName })" title="@item.PictureModel.Title">
                                        <img alt="@item.PictureModel.AlternateText" src="@item.PictureModel.ImageUrl" title="@item.PictureModel.Title" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
        @await Component.InvokeAsync("Widget", new { widgetZone = "categorydetails_before_featured_products", additionalData = Model.Id })
        @*featured products*@
        @if (Model.FeaturedProducts.Count > 0)
        {
            <div class="product-grid featured-product-grid">
                <div class="title">
                    <strong>@T("Products.FeaturedProducts")</strong>
                </div>
                <div class="item-grid">
                    @foreach (var item in Model.FeaturedProducts)
                    {
                        <div class="item-box">
                            @await Html.PartialAsync("_ProductBox", item)
                        </div>
                    }
                </div>
            </div>
        }
        @await Component.InvokeAsync("Widget", new { widgetZone = "categorydetails_after_featured_products", additionalData = Model.Id })
        @if (Model.Products.Count > 0)
        {
            @await Html.PartialAsync("_CatalogSelectors", Model.PagingFilteringContext)
        }
        @await Component.InvokeAsync("Widget", new { widgetZone = "categorydetails_before_filters", additionalData = Model.Id })
        <div class="product-filters">
            @*filtering*@
            @if (Model.PagingFilteringContext.PriceRangeFilter.Enabled)
            {
                @await Html.PartialAsync("_FilterPriceBox", Model.PagingFilteringContext.PriceRangeFilter)
            }
            @*filtering*@
            @if (Model.PagingFilteringContext.SpecificationFilter.Enabled)
            {
                @await Html.PartialAsync("_FilterSpecsBox", Model.PagingFilteringContext)
            }
        </div>
        @await Component.InvokeAsync("Widget", new { widgetZone = "categorydetails_before_product_list", additionalData = Model.Id })

        @if (Model.Products.Count > 0)
        {
            <div class="@(Model.PagingFilteringContext.ViewMode == "list" ? "product-list" : "product-grid")">
                <div class="item-grid">
                    @foreach (var product in Model.Products)
                    {
                        <div class="item-box">
                            @await Html.PartialAsync("_ProductBox", product)
                        </div>
                    }
                </div>
            </div>
        }
        @*@{
                var pager = Html.Pager(Model.PagingFilteringContext).QueryParam("pagenumber");
            }
            @if (!pager.IsEmpty())
            {
                <div class="pager">
                    @pager
                </div>
            }*@
        @await Component.InvokeAsync("Widget", new { widgetZone = "categorydetails_bottom", additionalData = Model.Id })
    </div>
    @{
        var pager = Html.Pager(Model.PagingFilteringContext).QueryParam("pagenumber");
    }
    @if (!pager.IsEmpty())
    {
        <div class="pager">
            @pager
        </div>
    }
</div>

<script>
    $(document).ready(function () {
        $("body").on("click", "a.filter-by-spec", function () {
            //$("#preloader").show();
            var specOptionId = $(this).attr("data-spec-option-id");
            var specOptionSelected = false;

            if ($(this).hasClass("selected-spec-option")) {
                specOptionSelected = true;
            }
            $.ajax({
                cache: false,
                url: window.location.origin + "/Catalog/CategoryAjaxFilter",
                data: { "categoryId": @Model.Id, "specOptionId": specOptionId, "specOptionSelected": specOptionSelected },
                type: 'post',
                success: function (response) {
                    if (response.update_section) {
                        $(".category-page .page-body").html(response.update_section.html);
                    }
                    //$("#preloader").hide();

                    //var myVar = setInterval(function () {
                    //    if ($("#boutiqueDetailContainer").find(".filter-sticky-container").length) {
                    //        $(window).resize();
                    //        clearInterval(myVar);
                    //    }
                    //}, 500);

                },
                error: function () {
                    alert("error")
                }
            });
        });

        $("body").on("click", "a.filter-by-category", function () {
            $("#preloader").show();
            if (!$(this).hasClass("disabled-third-category")) {
                $("#preloader").show();
                var thirdCategoryId = $(this).attr("data-category-id");
                var thirdCategorySelected = false;

            if ($(this).hasClass("selected-category")) {
                thirdCategorySelected = true;
            }
            $.ajax({
                cache: false,
                url: window.location.origin + "/Catalog/CategoryAjaxFilter",
                data: { "categoryId": @Model.Id, "thirdCategoryId": thirdCategoryId, "thirdCategorySelected": thirdCategorySelected },
                type: 'post',
                success: function (response) {
                    if (response.update_section) {
                        $("#boutiqueDetailContainer").html(response.update_section.html);
                        $("#preloader").hide();
                        var myVar = setInterval(function () {
                            if ($("#boutiqueDetailContainer").find(".filter-sticky-container").length) {
                                $(window).resize();
                                clearInterval(myVar);

                            }
                        }, 500);
                    }
                },
                error: function () {
                    alert("error")
                }
            });
        }
        });

        $("body").on("click", "a.filter-by-manufacturer", function () {
            //$("#preloader").show();
            var manufacturerId = $(this).attr("data-manufacturer-id");
            var manufacturerSelected = false;

            if ($(this).hasClass("selected-manufacturer")) {
                manufacturerSelected = true;
            }
            $.ajax({
                cache: false,
                url: window.location.origin + "/Catalog/CategoryAjaxFilter",
                data: { "categoryId": @Model.Id, "manufacturerId": manufacturerId, "manufacturerSelected": manufacturerSelected },
                type: 'post',
                success: function (response) {
                    if (response.update_section) {
                        $(".category-page .page-body").html(response.update_section.html);

                        //var myVar = setInterval(function () {
                        //    if ($("#boutiqueDetailContainer").find(".filter-sticky-container").length) {
                        //        $(window).resize();
                        //        clearInterval(myVar);

                        //    }
                        //}, 500);
                    }
                },
                error: function () {
                    alert("error")
                }
            });
        });

    $("body").on("change", "#products-orderby", function () {
        //$("#preloader").show();
        var sortBy = $(this).val();
        var sortBySelected = true;

        //if ($(this).hasClass("selected-sort-by")) {
        //    orderBySelected = true;
        //}
            $.ajax({
                cache: false,
                url: window.location.origin + "/Catalog/CategoryAjaxFilter",
                data: { "categoryId": @Model.Id, "sortBy": sortBy, "sortBySelected": sortBySelected },
                type: 'post',
                success: function (response) {
                    if (response.update_section) {
                        $(".category-page .page-body").html(response.update_section.html);
                        //$("#preloader").hide();

                        //var myVar = setInterval(function () {
                        //    if ($("#boutiqueDetailContainer").find(".filter-sticky-container").length) {
                        //        $(window).resize();
                        //        clearInterval(myVar);
                        //    }
                        //}, 500);
                    }
                },
                error: function () {
                    alert("error")
                }
            });
        });

    $("body").on("click", ".clear-pavs", function () {
        $("#preloader").show();
        var pavIds = [];
        var selectedFilters = $(this).parents(".filter-dropdown-content").find(".filter-by.selected-pav");
        selectedFilters.each(function () {
            pavIds.push(parseInt($(this).attr("data-pav-id")));
        });
        $.ajax({
            cache: false,
            url: window.location.origin + "/Catalog/CategoryAjaxFilter",
            data: { "categoryId": @Model.Id, "removedPavIds": pavIds },
            type: 'post',
            success: function (response) {
            if (response.update_section) {
                $("#boutiqueDetailContainer").html(response.update_section.html);
                $("#preloader").hide();
                var myVar = setInterval(function () {
                    if ($("#boutiqueDetailContainer").find(".filter-sticky-container").length) {
                        $(window).resize();
                        clearInterval(myVar);

                    }
                }, 500);
               }
            },
            error: function () {
                alert("error")
            }
        });
    });

    $("body").on("click", ".clear-categories", function () {
        $("#preloader").show();
        var categoryIds = [];
        var selectedFilters = $(this).parents(".filter-dropdown-content").find(".filter-by.selected-category");
        selectedFilters.each(function () {
            categoryIds.push(parseInt($(this).attr("data-category-id")));
        });
        $.ajax({
            cache: false,
            url: window.location.origin + "/Catalog/CategoryAjaxFilter",
            data: { "categoryId": @Model.Id, "removedThirdCategoryIds": categoryIds },
            type: 'post',
            success: function (response) {
            if (response.update_section) {
                $("#boutiqueDetailContainer").html(response.update_section.html);
                $("#preloader").hide();
                var myVar = setInterval(function () {
                    if ($("#boutiqueDetailContainer").find(".filter-sticky-container").length) {
                        $(window).resize();
                        clearInterval(myVar);

                    }
                }, 500);
               }
            },
            error: function () {
                alert("error")
            }
        });
    });

    $("body").on("click", ".clear-manufacturers", function () {
        $("#preloader").show();
        var manufacturerIds = [];
        var selectedFilters = $(this).parents(".filter-dropdown-content").find(".filter-by.selected-manufacturer");
        selectedFilters.each(function () {
            manufacturerIds.push(parseInt($(this).attr("data-manufacturer-id")));
        });
        $.ajax({
            cache: false,
            url: window.location.origin + "/Catalog/CategoryAjaxFilter",
            data: { "categoryId": @Model.Id, "removedManufacturerIds": manufacturerIds },
            type: 'post',
            success: function (response) {
            if (response.update_section) {
                $("#boutiqueDetailContainer").html(response.update_section.html);
                $("#preloader").hide();
                var myVar = setInterval(function () {
                    if ($("#boutiqueDetailContainer").find(".filter-sticky-container").length) {
                        $(window).resize();
                        clearInterval(myVar);

                    }
                }, 500);
               }
            },
            error: function () {
                alert("error")
            }
        });
    });

    $(document).on('click', function (e) {
        if ($(e.target).closest(".filter-item").length === 0) {
            $(".filter-item").removeClass("active");
        }
    });

    $(function () {
        $("body").on("click", ".filter-item > div:first-child", function () {

            if ($(this).parent().hasClass("active")) {
                $(".filter-item").removeClass("active");
                $(this).parent().removeClass("active");
            }
            else {
                $(".filter-item").removeClass("active");
                $(this).parent().addClass("active");
            }
        });
    });

    var alreadyMobile = false;

    $(window).resize(function () {
        if (window.innerWidth < 769) {
            if (!alreadyMobile) {
                $(".product-count").hide();
                $(".filter-count").hide();
                $('#mm-sidebar').mmenu({
                    navbar: { title: null },
                    navbars: [{ position: 'top', content: ['<a class="mm-close mm-btn" href="#mm-0"></a><span>Filter By</span>', 'close'] }],
                    extensions: ['pagedim-black', 'position-right', 'position-front', 'fullscreen', 'multiline'],
                    scrollBugFix: { fix: false },
                    offCanvas: {
                        position: "right",
                        zposition: "back"
                    },
                    slidingSubmenus: false
                });
                $("body").off("click", "a.filter-by-pav");
                $("body").on("click", "a.filter-by-pav", function () {
                    var dataPavId = $(this).attr("data-pav-id");
                    var pavSelected = false;
                    if ($(this).hasClass("selected-pav")) {
                        pavSelected = true;
                    }
                    var currentElement = $(this);
                    $.ajax({
                        cache: false,
                        url: window.location.origin + "/Catalog/MobileCategoryAjaxFilterSet",
                        data: { "categoryId": @Model.Id, "pavId": dataPavId, "pavSelected": pavSelected },
                        type: 'post',
                        success: function (response) {
                            if (response.success) {
                                if (pavSelected) {
                                    currentElement.parents(".square").removeClass("active");
                                    currentElement.removeClass("selected-pav");
                                }
                                else {
                                    currentElement.parents(".square").addClass("active");
                                    currentElement.addClass("selected-pav");
                                }
                            }
                        },
                        error: function () {
                            alert("error");
                        }
                    });
                });
                $("body").off("click", "a.filter-by-category");
                $("body").on("click", "a.filter-by-category", function () {
                    var thirdCategoryId = $(this).attr("data-category-id");
                    var thirdCategorySelected = false;
                    if ($(this).hasClass("selected-category")) {
                        thirdCategorySelected = true;
                    }
                    var currentElement = $(this);
                    $.ajax({
                        cache: false,
                        url: window.location.origin + "/Catalog/MobileCategoryAjaxFilterSet",
                        data: { "categoryId": @Model.Id, "thirdCategoryId": thirdCategoryId, "thirdCategorySelected": thirdCategorySelected },
                        type: 'post',
                        success: function (response) {
                            if (response.success) {
                                if (thirdCategorySelected) {
                                    currentElement.parents(".square").removeClass("active");
                                    currentElement.removeClass("selected-category");
                                }
                                else {
                                    currentElement.parents(".square").addClass("active");
                                    currentElement.addClass("selected-category");
                                }
                            }
                        },
                        error: function () {
                            alert("error");
                        }
                    });
                });
                $("body").off("click", "a.filter-by-manufacturer");
                $("body").on("click", "a.filter-by-manufacturer", function () {
                    var manufacturerId = $(this).attr("data-manufacturer-id");
                    var manufacturerSelected = false;
                    if ($(this).hasClass("selected-manufacturer")) {
                        manufacturerSelected = true;
                    }
                    var currentElement = $(this);
                    $.ajax({
                        cache: false,
                        url: window.location.origin + "/Catalog/MobileCategoryAjaxFilterSet",
                        data: { "categoryId": @Model.Id, "manufacturerId": manufacturerId, "manufacturerSelected": manufacturerSelected },
                        type: 'post',
                        success: function (response) {

                            if (response.success) {
                                if (manufacturerSelected) {
                                    currentElement.parents(".square").removeClass("active");
                                    currentElement.removeClass("selected-manufacturer");
                                }
                                else {
                                    currentElement.parents(".square").addClass("active");
                                    currentElement.addClass("selected-manufacturer");
                                }
                            }
                        },
                        error: function () {
                            alert("error");
                        }
                    });
                });
                $("body").off("click", "a.sort-by");
                $("body").on("click", "a.sort-by", function () {
                    var orderBy = false;
                    if ($(this).parents(".sort-by-filter")) {
                        orderBy = true;
                    }
                    var sortBy = parseInt($(this).attr("data-sort-by"));
                    var sortBySelected = false;
                    if ($(this).hasClass("selected-sort-by")) {
                        sortBySelected = true;
                    }
                    var currentElement = $(this);
                    $.ajax({
                        cache: false,
                        url: window.location.origin + "/Catalog/MobileCategoryAjaxFilterSet",
                        data: { "categoryId": @Model.Id, "sortBy": sortBy, "sortBySelected": sortBySelected },
                        type: 'post',
                        success: function (response) {
                            if (response.success) {
                                if (sortBySelected) {
                                    currentElement.parents(".square").removeClass("active");
                                    currentElement.removeClass("selected-sort-by");
                                }
                                else {
                                    if (orderBy) {
                                        $(".sort-by-filter li").removeClass("active");
                                        $(".sort-by-filter li").find("a").removeClass("selected-sort-by");
                                    }
                                    currentElement.parents(".square").addClass("active");
                                    currentElement.addClass("selected-sort-by");
                                }
                            }
                        },
                        error: function () {
                            alert("error");
                        }
                    });
                });
                $("body").off("click", ".filter-apply-btn");
                $("body").on("click", ".filter-apply-btn", function () {
                    $("#preloader").show();
                    $.ajax({
                        cache: false,
                        url: window.location.origin + "/Catalog/MobileCategoryAjaxFilterApply",
                        data: { "categoryId": @Model.Id },
                        type: 'post',
                        success: function (response) {
                            if (response.update_section) {
                                $("#boutiqueDetailContainer").html(response.update_section.html);
                                var myVar =
                                    setInterval(function () {
                                        if ($("#boutiqueDetailContainer #root").length) {
                                            console.log("t");
                                            $("#mm-sidebar.mm-menu #attribute-filter-section").html($("#boutiqueDetailContainer #root #attribute-filter-section").html());
                                            clearInterval(myVar);
                                        }
                                    }, 100);
                                $("#preloader").hide();
                                $('.mm-close').click();
                            }
                        },
                        error: function () {
                            alert("error");
                        }
                    });
                });
                $("body").off("click", ".filter-clear-btn");
                $("body").on("click", ".filter-clear-btn", function () {
                    $("#preloader").show();
                    $.ajax({
                        cache: false,
                        url: window.location.origin + "/Catalog/MobileCategoryAjaxFilterClear",
                        data: { "categoryId": @Model.Id },
                        type: 'post',
                        success: function (response) {
                            if (response.update_section) {
                                $("#boutiqueDetailContainer").html(response.update_section.html);
                                var myVar =
                                    setInterval(function () {
                                        if ($("#boutiqueDetailContainer #root").length) {
                                            console.log("t");
                                            $("#mm-sidebar.mm-menu #attribute-filter-section").html($("#boutiqueDetailContainer #root #attribute-filter-section").html());
                                            clearInterval(myVar);
                                        }
                                    }, 100);
                                $("#preloader").hide();
                                $('.mm-close').click();
                            }
                        },
                        error: function () {
                            alert("error");
                        }
                    });
                });
                alreadyMobile = true;
            }
        }
        else {
            alreadyMobile = false;
        }
    });
    });

</script>